<div class="title">
  <h1>Witaj w</h1>
  <img width="100" src="./assets/zn.jpg">
</div>
<hr />
<br />
<br />
<!--<p class="txt" [ngStyle]="{'color': 'red', 'font-size': '20px',  'visibility': visibility==='visible' ? 'visible' : 'hidden'}">-->
<p class="txt" [ngStyle]="setMyStylesForWarn()" style="visibility:hidden">
  Błędny login lub hasło.
</p>

<form (submit)="loginUser()">
  <div class="login" [ngStyle]="setMyStylesForWarn()">
    <label class="txt">Login</label>
    <input type="text" [(ngModel)]="userLogin" name="login" value="" />
    <label class="txt">Hasło</label>
    <input type="password" [(ngModel)]="userPassword" name="hasło" value="" />
    <button class="button"><span>Zaloguj</span></button>
  </div>
</form>
