h1 {
  display: inline;
  vertical-align: middle;
  color: #606060;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
}

img {
  vertical-align: middle;
}

.title {
  text-align: center;
}

h2 {
  color: #ff6a00;
  text-align: center;
}

.login {
  height:150px;
  width:190px;
  margin:auto;
  border:2px #ccc solid;
  padding:10px;
}

.login input {
    padding: 5px;
    margin: 5px;
    border: 2px #ccc solid;
  }

input[type="password"] {
  -webkit-text-security: disc;
}
