<br />
<div class="table-contener">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>OSOBA</th>
        <th>NIERUCHOMOŚĆ</th>
        <th>TYP</th>
        <th>OD</th>
        <th>DO</th>
        <th>EDIT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray">
        <td>{{data.id}}</td>
        <td>{{data.imie}} {{data.nazwisko}}</td>
        <td>{{data.ulica}} {{data.nr_domu}}</td>
        <td>{{data.typ}}</td>
        <td>{{data.czas_od}}</td>
        <td>{{data.czas_do}}</td>
        <td class="edit"><button class="button edit" (click)="editUmowy(data.id, data.osoby_id)"><span>EDIT</span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="nrPage">Strona <span>{{service.getNrPage()+1}}</span> z {{countPages}} wyszukanych</p>
<br />
<div class="left">
  <button class="button action previous" (click)="previousPage()" [disabled]="disabledPrevious"><span>Poprzednia</span></button>
  <button class="button action" (click)="nextPage()" [disabled]="disabledNext"><span>Następna</span></button>
</div>
<div class="right">
  <button class="button action" [routerLink]="['/umowy/add']"><span>Dodaj firmę</span></button>
</div>
