.add {
  margin: auto;
  max-width: 1000px;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
  vertical-align: middle;
}

.form {
  width: 1040px;
  margin: auto
}

.left {
  width: 500px;
  float: left;
  padding: 0px 10px;
}

.right {
  width: 500px;
  float: right;
  padding: 0px 10px;
}

.clear {
  clear: both;
}

.warn {
  color: red;
}

input , select{
  width: 100%;
  padding: 8px 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input:focus, select:focus{
  border: 2px solid #555;
}

.button {
  vertical-align: middle;
}

.button-contener {
  max-width: 524px;
  margin: 0 auto;
}

.button {
  border: 2px solid #bbb;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
  background-color: #ccc;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
  font-size: 14px;
  color: #000;
  transition: all 0.5s;
  cursor: pointer;
  width: 200px;
  margin: 5px;
}

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }

    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.3s;
    }

  .button:hover span {
    padding-right: 20px;
  }

    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
