<h2>Będą tu informacje o bieżącym stanie.</h2>
<br />
<div class="table-contener">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>DATA</th>
        <th>TYP</th>
        <th>OPIS</th>
        <th>LINK</th>
        <th>AKCJA</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray">
        <td>{{data.id}}</td>
        <td>{{data.data}}</td>
        <td>{{data.typ}}</td>
        <td>{{data.text}}</td>
        <td>{{data.link}}</td>
        <td><button class="button akcja" (click)="akcja(data.id)"><span>AKCJA</span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<br />
<div>
  <p>Ilość stron z wynikami {{countPages}}</p>
  <input type="button" value="POPRZEDNIA" (click)="previousPage()" [disabled]="disabledPrevious" />
  <input type="button" value="NASTĘPNA" (click)="nextPage()" [disabled]="disabledNext" />
</div>
<br />

<input type="text" [(ngModel)]="sqlQueryInsert" name="dane" value="" />
<div class="button-contener">
  <button class="button green" (click)="selectSqlAlert()"><span>Wyślij Select</span></button>
  <button class="button red" (click)="insertSql()"><span>Wyślij Insert</span></button>
</div>
<br />
