<br />
<div class="table-contener">
  <table>
    <thead>
      <tr>
        <th *ngIf="select">SELECT</th>
        <th>ID</th>
        <th>TYP</th>
        <th>ADRES</th>
        <th>NOTKA</th>
        <th>EDIT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray">
        <td *ngIf="select"><button class="button select" (click)="selectProperty(data.id)"><span>Select</span></button></td>
        <td>{{data.id}}</td>
        <td>{{data.typ}}</td>
        <td>{{data.ulica}} {{data.nr_domu}}, {{data.gmina}} {{data.miasto}}</td>
        <td>{{data.text === null ? '' : ( data.text.length < 50 ? data.text : data.text.substring(0, 50).concat('...') )}}</td>
        <td class="edit"><button class="button edit" (click)="editObiekt(data.id)"><span>EDIT</span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="nrPage">Strona <span>{{service.getNrPage()+1}}</span> z {{countPages}} wyszukanych</p>
<br />
<div class="left">
  <button class="button action previous" (click)="previousPage()" [disabled]="disabledPrevious"><span>Poprzednia</span></button>
  <button class="button action" (click)="nextPage()" [disabled]="disabledNext"><span>Następna</span></button>
</div>
<div class="right">
  <button class="button action" [routerLink]="['/nieruchomosci/add']"><span>Dodaj nieruchomość</span></button>
</div>