<h1>
  Komponent Nieruchomosci
</h1>

<br />
<div class="table-contener">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>TYP</th>
        <th>ADRES</th>
        <th>OPIS</th>
        <th>EDIT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray">
        <td>{{data.id}}</td>
        <td>{{data.typ}}</td>
        <td>{{data.ulica}} {{data.nr_domu}}, {{data.gmina}} {{data.miasto}}</td>
        <td>{{data.text}}</td>
        <td class="edit"><button class="button edit" (click)="editOsoby(data.id)"><span>EDIT</span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="nrPage">Strona <span>{{service.getNrPage()+1}}</span> z {{countPages}} wyszukanych</p>
<br />
<div class="left">
  <button class="button action previous" (click)="previousPage()" [disabled]="disabledPrevious"><span>Poprzednia</span></button>
  <button class="button action" (click)="nextPage()" [disabled]="disabledNext"><span>Następna</span></button>
</div>
<div class="right">
  <button class="button action" [routerLink]="['/obiekty/add']"><span>Dodaj nieruchomość</span></button>
</div>