<br />
<div class="table-contener">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>IMIE</th>
        <th>DRUGIE IMIE</th>
        <th>NAZWISKO</th>
        <th>PESEL</th>
        <th>TELEFON</th>
        <th>ADRES</th>
        <th>EDIT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataArray">
        <td>{{data.id}}</td>
        <td>{{data.imie}}</td>
        <td>{{data.drugie_imie}}</td>
        <td>{{data.nazwisko}}</td>
        <td>{{data.pesel}}</td>
        <td>{{data.telefon}}</td>
        <td>{{data.ulica}} {{data.nr_domu}} {{data.miasto}}</td>
        <td class="edit"><button class="button edit" (click)="editOsoby(data.id)"><span>EDIT</span></button></td>
      </tr>
    </tbody>
  </table>
</div>

<p class="nrPage">Strona <span>{{service.getNrPage()+1}}</span> z {{countPages}} wyszukanych</p>
<br />
<div class="left">
  <button class="button action" (click)="previousPage()" [disabled]="disabledPrevious"><span>Poprzednia</span></button>
  <button class="button action" (click)="nextPage()" [disabled]="disabledNext"><span>Następna</span></button>
</div>
<div class="right">
  <button class="button action" [routerLink]="['/osoby/add']"><span>Dodaj nową osobę</span></button>
</div>
<br />

<input type="text" [(ngModel)]="sqlQueryInsert" name="dane" value="" />
<div class="button-contener">
  <button class="button green" (click)="selectSqlOsoby()"><span>Wyślij Select</span></button>
  <button class="button red" (click)="insertSql()"><span>Wyślij Insert</span></button>
</div>
