.table-contener {
  max-width: 1000px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 1px solid #ddd;
}

td, th {
  padding: 10px;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background: linear-gradient(to bottom, #075eac 0%, #181f6d 50%, #143283 100%);
  color: white;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
}

input[type=text] {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
}

input[type=text]:focus {
  border: 3px solid #555;
}

.button-contener {
  max-width: 524px;
  margin: 0 auto;
}

.button {
  border-radius: 5px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.red {
  background-color: #f4511e;
}

.green {
  background-color: #4CAF50;
}

.button span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
